<p>Files in the data directory</p>
<ul>
  <% @cms_files.each do |file_name| %>
    <li>
      <a href="<%= file_name %>"><%= file_name %></a>
      <a href="<%= file_name %>/edit">edit</a>
      <form class="inline" method="post" action="<%= file_name %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">Create a new document</a>


<% if session[:user_name] %>
  <p> Logged on as <%= session[:user_name] %> </p>    
  <form class="inline" method="post" action="user/signout">
    <button type="submit">Sign Out</button>
  </form>
<% else %>
  <p>
    <a href="user/signin">Sign In</a> 
  </p>
<% end %>